# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env.local
.env.test

# Temporary folders
tmp/
temp/

.vscode/*
.history

build/

.DS_*

.idea/

data/commit.json
